// BuyMeCoffee component

<div data-id="bmc-wrapper">
    <script
      is:inline
      src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
      data-name="BMC-Widget"
      data-cfasync="false"
      data-id="josekjames"
      data-description="Support me on Buy me a coffee!"
      data-message=""
      data-color="#1bbfc1"
      data-position="Right"
      data-x_margin="18"
      data-y_margin="18"
    ></script>
  </div>